:root {
  --mid-grey: #aaa;
  --light-grey: #ddd;
  --lighter-grey: #f3f3f3;
  --item-padding: 6px 12px;
  --search-button-size: 50px;
  --search-menu-height: calc(4 * var(--search-button-size));
  --body-padding: 30px;
  --search-input-width: calc(100vw - var(--search-button-size) - 2 * var(--body-padding));
}

body {
  margin: var(--body-padding);
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.wrapper {
  /* margin: 0 auto; */
}

#search-input {
  padding: var(--item-padding);
  width: inherit;
  border: 1px solid var(--mid-grey);
  border-right: none;
  outline: none;
  max-height: var(--search-button-size);
}

#search-input.results {
  border-bottom: 1px solid var(--light-grey);
}

#autocomplete {
  display: block;
  margin: 0;
  border: 1px solid var(--mid-grey);
  border-top: none;
  height: fit-content;
  width: inherit;
}

#autocomplete.hide{
  display: none;
  height: 0;
}

#autocomplete, #search-input {
  line-height: 1.5;
}

#autocomplete > ul {
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
}

#autocomplete > ul > li:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
} 

#autocomplete > ul > li {
  padding: var(--item-padding);
  cursor: pointer;
  list-style: none;
} 

#autocomplete > ul > li:hover,
#autocomplete > ul > li:focus {
  background-color: var(--lighter-grey);
}

/*///////////////*/
/* Dropdown menu */
/*///////////////*/

#menu .search-btn {
  display: inline-block;
  background: #333;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--mid-grey);
  transition: all 0.3s ease;
  width: var(--search-button-size);
  height: var(--search-button-size);
}

#menu .search-btn:hover {
  transition: all 0.3s ease;
}

#menu {
  height: fit-content;
}

#menu .list {
  width: fit-content;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-out;
}

#menu:hover .list {
  max-height: var(--search-menu-height);
  opacity: 1;
  transition: all 0.3s ease;
}

#menu:hover .search-btn {
  background-color: var(--lighter-grey);
  color: black;
}

#menu .list li.btn {
  margin: 0;
  line-height: 1.5;
  cursor: pointer;
  width: var(--search-button-size);
  height: var(--search-button-size);
  border: 1px solid var(--mid-grey);
  border-top: none;
}

.btn:hover {
  background-color: var(--lighter-grey);
}


/*////////*/
/* Layout */
/*////////*/

.v-align, h-align, .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-align, .btn {
  flex-direction: column;
}

.h-align, .btn {
  flex-direction: row;
}

.row {
  display: flex;
  width: fit-content;
}

.column-left {
  width: var(--search-input-width);
}

.column-right {
  flex: 1;
}

.youtube-icon {
  color: #ff0000;
}

.google-icon {
  color: #4285f4;
}

.twitter-icon {
  color: #1da1f2;
}

